*.csv filter=lfs diff=lfs merge=lfs -text
data/eligible-users.json filter=lfs diff=lfs merge=lfs -text
data/userTransfers.json filter=lfs diff=lfs merge=lfs -text
data/userBlobBalances.json filter=lfs diff=lfs merge=lfs -text
data/userBlobs.json filter=lfs diff=lfs merge=lfs -text
